{#{% extends 'base.html.twig' %}#}

{% block meta_data %}
    <div id="metaOutput">
        <h1 id="metaData" class="text-center">Select file to show its metadata</h1>
        <table class="table table-striped" id="metaAjaxInput">
        </table>
    </div>
{% endblock %}


